@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

body{
    color: #566787;
    background-color: #f5f5f5;
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
}


.table-wrapper{
    background-color: #f5f5f5;
    padding: 20px 25px;
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}

.table-title{
    padding-bottom: 1rem;
    background-color: #435d7d;
    color: #fff;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
    padding: 15px 30px;
}

.table-title h2{
    margin: 5px;
}

.table-title .btn{
    float: right;
    color: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    outline: none  !important;
    margin-left: 10px;
}

.table-title .btn span{
    float: left;
    margin-right: 5px;
}

table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;

}


table.table tr th:first-child{
/* primeira coluna de uma tabela */
    width: 60px;
}

table.table td:last-child{
    width: 100px;
}

table.table td:last-child i {
    opacity: 0.9;
    margin: 0.5px;
}

table.table td a{
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}

table.table td a.edit{
    color: #f44556;
}

table.table td a:hover{
    color: #2196f3;
}

.pagination{
    float: right;
}

.pagination li a{
    border: none;
    font-size: 15px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover{
    color: #666;
}

.pagination li.active a, .pagination li.active a.page-link{
    background-color: #2196f3;
}

.pagination li.active a:hover{
    background-color: #2196f9;
}

.hint-text{
    float: left;
    margin-top: 10px;
    font-size: 15px;
}